/* html, body {
    margin: 0;
    padding: 0;
} */

.container {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Header */

header {
    margin: 0px;
    padding: 0px;
}

.header-first {
    margin: 0;
    padding: 0;
    min-height: 1025px;
    background: url(../img/header-first__bg.png) #ffffff no-repeat;
}


.header-logo {
    margin: 0;
    padding: 0;
}

.header-menu {
    margin: 0;
    padding: 0;
}

/* About us */

main {
    margin: 0px;
    padding: 0px;
}

.services {
    min-height: 380px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.slogan {
    min-height: 700px;
    margin: 0;
    padding: 0;
    background-color: #fbfaf8;
}

.purchase {
    min-height: 150px;
    margin: 0;
    padding: 0;
    background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.portfolio {
    min-height: 1165px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.video-presentation {
    min-height: 700px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.mobiledev {
    min-height: 700px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.counters {
    min-height: 300px;
    margin: 0;
    padding: 0;
    background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.blog {
    min-height: 750px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

/* section partners */

.partners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 489px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../img/partners__bg.png) #555556 no-repeat;
}

.partners__item {
    display: block;
    width: 210px;
    height: 210px;
}

.partners__item--logo1 {background: url(../img/parttners__item--logo1.png) no-repeat;}
.partners__item--logo2 {background: url(../img/parttners__item--logo2.png) no-repeat;}
.partners__item--logo3 {background: url(../img/parttners__item--logo3.png) no-repeat;}
.partners__item--logo4 {background: url(../img/parttners__item--logo4.png) no-repeat;}
/* footer */

footer {
    margin: 0px;
    padding: 0px;
}

.footer-info {
    min-height: 510px;
    margin: 0;
    padding: 0;
    background-color: #191919;
  
}

.footer-copyright {
    min-height: 110px;
    margin: 0;
    padding: 0;
    background-color: #111111;
}